body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

canvas {
    display: block;
    touch-action: none;
}

/* Hide scrollbars */
::-webkit-scrollbar {
    display: none;
}
