body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    touch-action: none;
    -webkit-touch-callout: none;
    position: fixed;
    width: 100%;
    height: 100%;
}

canvas {
    display: block;
    touch-action: none;
    position: absolute;
    top: 0;
    left: 0;
}

/* Предотвращаем зум и прокрутку */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
}

/* Стабилизация при изменении ориентации */
@media screen and (orientation: portrait) {
    html, body {
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
    }
}

@media screen and (orientation: landscape) {
    html, body {
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
    }
}

/* Hide scrollbars */
::-webkit-scrollbar {
    display: none;
}

/* Предотвращаем выделение текста */
* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
}
