html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black;
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    position: fixed;
}

canvas {
    display: block;
    touch-action: none;
    margin: 0 !important;
}

/* Hide scrollbars */
::-webkit-scrollbar {
    display: none;
}